body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.form-container{
    display: flex;
    margin: 20px 10px;
}

.form-student{
    margin-right: 10px;
    padding: 10px;
}

.container-left{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.rank{
    margin-right: 15px;
}

div.form-student , div.list-student {
    background-color: gray;

}

div.form-student h3 {
    padding: 0px;
    margin-top: 0px;
    text-align: center;
}

div.form-student label {
    width: 110px;
    display: inline-block;
}

div.form-student input, div.form-student button {
    margin-bottom: 5px;
    width: 200px;
    padding: 3px;
    margin-right: 10px;
    margin-top: 5px;
}

div.form-student input[type="radio"] {
    width: 15px;
}

div.form-student button {
    margin-top: 10px;
    padding: 10px 0;
}

div.list-student {
    width: 100%;
}

div.list-student h3 {
    text-align: center;
}

table{
    border-collapse: collapse;
}

table.table-list {
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table.table-list th {
    background-color: dodgerblue;
    text-align: center;
    padding: 8px;

}

table.table-list td {
    text-align: center;
    padding: 8px;

}

tr:nth-child(even) {
    background-color: #fff;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}


img.left-image {
    position: absolute;
    top: 0;
    left: 0;
}

img.right-image {
    position: absolute;
    top: 0;
    right: 0;
}

.hide{
    display: none;
}
.hide.display{
    display: block;
}
