body {
    padding: 0px;
    margin: 0px;
}
div.form-student , div.list-student {
    width: 400px;
    border: 1px solid #ccc;
    margin: 25px;
    padding: 10px;


}
div.form-student h3 {
    padding: 0px;
    margin-top: 0px;
}
div.form-student label {
    width: 100px;
    float: right;

}
div.form-student input , button {
    margin-bottom: 10px;
    width: 200px;
    padding: 3px;
 }
div.form-student input[type="radio"] {
    width: 25px;
}
div.form-student button {
    width: 320px;
    margin-top: 10px;
}
div.list-student {
    width: 700px;
    margin-right: 0px;
}
div.list-student h3 {
    text-align: center;
}
table.table-list th{
    background-color: gray;
    text-align: center;
}
table.table-list td {
    text-align: center;
}

